---
import nuxtNewsScreenshot from "../../assets/images/nuxt_news_screenshot.png";
import ticTacLaunchScreenshot from "../../assets/images/tic_tac_launch_screenshot.png";
import ProjectCard from "../ProjectCard.astro";

const PROJECTS = [
	{
		bannerImage: nuxtNewsScreenshot,
		title: 'Nuxt News',
		description: 'Clon de Hacker News creado con Nuxt 3. Incluye funcionalidades como paginación, búsqueda y filtrado de noticias.',
		deploymentHref: 'https://nuxtnews.perezpujantealejandro.dev',
		repoHref: 'https://github.com/alejandroperezpujante/nuxt-news',
		isUnderConstruction: true
	},
	{
		bannerImage: ticTacLaunchScreenshot,
		title: 'Tic Tac Launch',
		description: 'Juego del tres en raya creado con Astro y Vue 3. Incluye funcionalidades como el reinicio de la partida y el cambio de jugador.',
		deploymentHref: 'https://tic-tac-launch.perezpujantealejandro.dev',
		repoHref: 'https://github.com/alejandroperezpujante/tic-tac-launch'
	}
]
---

<ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
  {
    PROJECTS.map((project) => (
      <li>
        <ProjectCard {project} />
      </li>
    ))
  }
</ul>
