---
import { cn } from "../../../utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn("text-muted-foreground text-sm", className)}>
  <slot />
</div>
