---
import { cn } from "../../../utils";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---


<div class={cn("flex items-center p-6 pt-0", className)}>
	<slot />
</div>
