---
import "@/styles/reset.css";
import "@/styles/theme.css";

import { getLangFromUrl } from "@/i18n/utils";
import SiteHead from "@/components/SiteHead.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import SiteHeader from "@/components/SiteHeader.astro";
import MobileNavigation from "@/components/navigation/MobileNavigation.astro";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html {lang}>
	<SiteHead />

	<body class="min-h-dvh flex flex-col">
		<SiteHeader />

		<main class="flex-1">
			<slot />
		</main>

		<MobileNavigation />
		<!-- <SiteFooter /> -->
	</body>
</html>
